{% extends "base.html" %}

{% block content %}
		<h1>Formul&aacute;rio de Inscri&ccedil;&atilde;o</h1>
		<!-- v1
		<form action="." method="POST">
			{% csrf_token %}
			<p>
				<label for="id_name">Nome:</label>
				<input id="id_name" type="text" name="name" maxlength="100" />
			</p>
                        <p>
                                <label for="id_cpf">CPF:</label>
                                <input id="id_cpf" type="text" name="cpf" maxlength="11" />
                        </p>
                        <p>
                                <label for="id_email">Email:</label>
                                <input id="id_email" type="text" name="email" maxlength="75" />
                        </p>
                        <p>
                                <label for="id_phone">Telefone:</label>
                                <input id="id_phone" type="text" name="phone" maxlength="20" />
                        </p>
			<input type="submit" value="Enviar!" />
		</form>
		-->

		<!-- v2 -->
		<form action="." method="POST">
			{% csrf_token %}
			<p>
				<label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
				{{ form.name }}
				{{ form.name.errors }}
			</p>
                	<p>
   	                     	<label for="{{ form.cpf.id_for_label }}">{{ form.cpf.label }}</label>
        	                {{ form.cpf }}
                	        {{ form.cpf.errors }}
 	               </p>
        	        <p>
                	        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                        	{{ form.email }}
	                        {{ form.email.errors }}
        	        </p>
  	        	<p>
        	                <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>
                        	{{ form.phone }}
                	        {{ form.phone.errors }}
        	        </p>
			<input type="submit" value="Enviar!" />
		</form>
{% endblock content %}
